/* .button {
	-fx-text-fill: red;
	-fx-background-color: blue;
}

#line-pane {
	-fx-background-color: red;
}

#data-pane {
	-fx-background-color: green;
}

#control-pane {
	-fx-background-color: yellow;
}

#tutorial-control-pane {
	-fx-background-color: orange;
}

#legend {
	-fx-background-color: rgb(0, 0, 255);
} */